/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LuckiestGuy";
  src: url("./assets/LuckiestGuy-Regular.ttf");
}

html {
  background-color: #202741;
  font-family: "LuckiestGuy";
}

body {
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
