<div class="container">
  <div class="status">
    <h1>{{status}}</h1>
    <p *ngIf="token">token: {{token}}...</p>
    <p *ngIf="name">name: {{name}}</p>
    <p *ngIf="email">email: {{email}}</p>
  </div>
  <h2 class="text-center">Login Component</h2>

  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label>Name</label>
      <input
        id="name"
        name="name"
        type="text"
        [value]="socialUser ? socialUser.name : ''"
        ngModel
      />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        id="email"
        name="email"
        type="text"
        [value]="socialUser ? socialUser.email : ''"
        ngModel
      />
    </div>
    <button
      *ngIf="isLoggedinSocial === true"
      type="button"
      (click)="logOutSocial()"
      class="btn btn-primary"
    >
      LOG OUT
    </button>
    <button
      *ngIf="isLoggedinManual === true"
      type="button"
      (click)="logOutManual()"
      class="btn btn-primary"
    >
      LOG OUT
    </button>
    <button
      *ngIf="isLoggedinSocial === false && isLoggedinManual === false"
      type="submit"
      class="btn btn-primary"
    >
      SUBMIT
    </button>
  </form>

  <div>
    <div>
      <asl-google-signin-button
        type="standard"
        size="medium"
        shape="pill"
        text="continue_with"
        theme="filled_blue"
      >
      </asl-google-signin-button>
    </div>
  </div>
</div>

<!-- <button (click)="loginWithGoogle()">Manual Login</button> -->

<!-- <div
  id="g_id_onload"
  data-client_id="233875227559-l3aiie0h6pu41jjgdouajloaqabepiiu.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:5001/api/gauth"
  data-auto_prompt="false"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="filled_blue"
  data-text="continue_with"
  data-size="large"
  data-logo_alignment="left"
></div> -->
