<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-transparent px-6">
  <div class="flex h-16 shrink-0 items-center">
    <img
      class="h-12 w-auto"
      src="../../assets/game-controller-svg.svg"
      alt="Mega Clips"
    />
    <h1 class="ml-4 text-white text-3xl">Mega Clips</h1>
  </div>
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
      <li>
        <ul role="list" class="-mx-2 space-y-1">
          <li *ngFor="let link of navLinks">
            <a
              [href]="link.href"
              class="from-primary to-transparent bg-gradient-to-r hover:bg-primary focus:bg-primary focus:border-solid focus:border-2 focus:border-white text-white group flex gap-x-3 rounded-md p-2 text-sm leading-6"
            >
              <img class="h-6 w-6 shrink-0 text-white" [src]="link.imageUrl" />
              {{ link.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
